<% if todo.deadline.nil? %>
  <div class="todo_item">
<% elsif lights(todo.deadline) == :red %>
  <div class="todo_item red">
<% elsif lights(todo.deadline) == :amber %>
  <div class="todo_item amber">
<% else %>
  <div class="todo_item green">
<% end %>

    <p class="pull-right">

      <% if todo.pinned? %>
        <%= link_to unpin_todo_path(todo), method: :post, class: "btn btn-sm btn-default pinned" do %>
            <i class="fa fa-thumb-tack"></i>
        <% end %>
      <% else %>
        <%= link_to pinned_todo_path(todo), method: :post, class: "btn btn-sm btn-default" do %>
            <i class="fa fa-thumb-tack"></i>
        <% end %>
      <% end %>

      

      <%= link_to complete_todo_path(todo), method: :post, class: 'btn btn-sm btn-default complete_button', data: {confirm: "Are you sure you want to mark #{todo.title} as done?"} do %>
        <i class="fa fa-check"></i>
      <% end %>
      <%= link_to edit_todo_path(todo), class: 'btn btn-sm btn-default' do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to todo_path(todo), class: 'btn btn-sm btn-default', method: :delete, data: {confirm: "Are you sure you want to delete #{todo.title}"} do %>
        <i class="fa fa-bomb"></i>
      <% end %>
    </p>
    <h5><%= link_to todo.title, todo_path(todo) %></h5>
    <div class="info clearfix pull-right">
      <% if todo.deadline %>     
        <p><%= time_left_in_words_short_version(todo.deadline) %></p>
      <% end %>

      <p><%= notes_indicator(todo) %> <span class="badge"><%= todo.comments.count %></span></p>
    </div>  
    <i class="fa fa-tags" title="categories"></i>
    <% todo.categories.each do |category| %>
      <span class="label label-default"><%= link_to category.name, category_path(category) %></span>
    <% end %>

</div>
